@model FairWorks.Domain.Entities.TeklifBilgisi

<table class="table table-bordered">    
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeklifTarihi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeklifTarihi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeklifVerilenm2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeklifVerilenm2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.m2birimFiyatı)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.m2birimFiyatı)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stand.StandKodu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Doviz)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Doviz.DovizCinsi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OdemePlani)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OdemePlani.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeklifinSonGecerlilikTarihi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeklifinSonGecerlilikTarihi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Salon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Salon.SalonNo)
        </dd>
    </dl>
</table>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a> |
    <a asp-action="Index"class="btn btn-primary">Listeye Dön</a>
</div>

