@model FairWorks.Domain.Entities.SozlesmeBilgisi


<table class="table table-bordered"></table>
<div>
    <h4>SozlesmeBilgisi</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SozlesmeTarihi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SozlesmeTarihi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonelAdi.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonelAdi.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonelAdi.Ad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonelAdi.Ad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonelAdi.SoyAd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonelAdi.SoyAd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirmaBilgileri)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirmaBilgileri.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SozlesmeTipleri.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SozlesmeTipleri.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SozlesmeTipleri.SozlesmeTipleri)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SozlesmeTipleri.SozlesmeTipleri)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stand.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stand.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stand.StandKodu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stand.StandKodu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OdemePlani)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OdemePlani.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DovizCinsi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DovizCinsi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DovizKuru)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DovizKuru)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SozlesmeSonGecerlilikTarihi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SozlesmeSonGecerlilikTarihi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImzaliSozlesmeDurumu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImzaliSozlesmeDurumu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Salon.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Salon.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Salon.SalonNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Salon.SalonNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Salon.Ulke)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Salon.Ulke)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Listeye Dön</a>
</div>

