@model FirmaBilgiCreateDto

<form method="post" asp-controller="FirmaBilgi" asp-action="Create">

    <div class="form-group row">
        <label asp-for="@Model.FirmaBilgiDto.Adres" class="col-md-4 col-form-label"></label>        
        <div class="col-md-8">
            <input type="text" asp-for="@Model.FirmaBilgiDto.Adres" class="form-control"/>
        </div>       
    </div>
    <div class="form-group row">
        <label asp-for="@Model.FirmaBilgiDto.Telefon" class="col-md-4 col-form-label"></label>        
        <div class="col-md-8">
            <input type="text" asp-for="@Model.FirmaBilgiDto.Telefon" class="form-control"/>
        </div>       
    </div>
    <div class="form-group row">
        <label asp-for="@Model.FirmaBilgiDto.VergiDairesi" class="col-md-4 col-form-label"></label>        
        <div class="col-md-8">
            <input type="text" asp-for="@Model.FirmaBilgiDto.VergiDairesi" class="form-control"/>
        </div>       
    </div>
    <div class="form-group row">
        <label asp-for="@Model.FirmaBilgiDto.VergiNumarası" class="col-md-4 col-form-label"></label>        
        <div class="col-md-8">
            <input type="text" asp-for="@Model.FirmaBilgiDto.VergiNumarası" class="form-control"/>
        </div>       
    </div>
    <div class="form-group row">
        <label asp-for="@Model.FirmaBilgiDto.FuarYetkilisi" class="col-md-4 col-form-label"></label>        
        <div class="col-md-8">
            <input type="text" asp-for="@Model.FirmaBilgiDto.FuarYetkilisi" class="form-control"/>
        </div> 
     </div>
     <select id="ddlAlan" name="UcretsizVerilenAlanId" asp-items="Model.UcretsizVerilenAlan" class="col-md-12 col-form-label">
                <option value="0" >Ucretsiz Verilen Alan Seciniz</option>
            </select>

    <div class="form-group row">
        <button type="submit" class="btn btn-primary">Kaydet</button>
    </div>
    <div class="form-group row">
        <a class="btn btn-secondary" asp-action="Index" asp-controller="Firma">Geri Dön</a>
    </div>

</form>