@model IEnumerable<UcretsizVerilenAlan>

<p>
    <a class="btn btn-success" asp-controller="UcretsizVerilenAlan" asp-action="Create">Yeni</a>
</p>




<table class="table table-bordered">
    <thead>
        <tr>
            <td>@Html.DisplayNameFor(model=>model.UcretsizVerilenAlanId)</td>
            <td>@Html.DisplayNameFor(model=>model.UcretsizVerilenm2)</td>         
            <td>Islem</td>

        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.UcretsizVerilenAlanId</td>
                <td>@item.UcretsizVerilenm2</td>              
                <td><a asp-controller="UcretsizVerilenAlan" asp-action="Update" asp-route-id="@item.UcretsizVerilenAlanId" class="btn btn-primary">Guncelle</a>
                <a asp-controller="UcretsizVerilenAlan" asp-action="Delete" asp-route-id="@item.UcretsizVerilenAlanId" class="btn btn-danger">Sil</a></td>
            </tr>
        }

    </tbody>
</table>