@model FairWorks.Domain.Entities.Stand


<table class="table table-bordered">
<div>
    <h4>Stand</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.StandTipi)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.StandTipi)
        </dd>
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.StandKodu)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.StandKodu)
        </dd>
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.Salonlar)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.Salonlar.Id)
        </dd>
    </dl>
</div>
</table>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id"class="btn btn-primary">Edit</a> |
    <a asp-action="Index"class="btn btn-primary">Listeye Dön</a>
</div>
