@model IEnumerable<IlaveStandMalzemeler>

 <p>
    <a class="btn btn-success" asp-controller="IlaveStandMalzemeler" asp-action="Create">Yeni</a>
</p>




<table class="table table-bordered">
    <thead>
        <tr>
            <td>@Html.DisplayNameFor(model=>model.Id)</td>
            <td>@Html.DisplayNameFor(model=>model.IlaveStandMalzemesi)</td>
            <td>@Html.DisplayNameFor(model=>model.MalzemeKodu)</td>
            <td>@Html.DisplayNameFor(model=>model.MalzemeAdı)</td>
            <td>@Html.DisplayNameFor(model=>model.ElektrikKw)</td>
            <td>@Html.DisplayNameFor(model=>model.Fiyat)</td>
            <td>@Html.DisplayNameFor(model=>model.Ozellik)</td>
            <td>@Html.DisplayNameFor(model=>model.TedarikciId)</td>
            <td>@Html.DisplayNameFor(model=>model.Tedarikciler.Tedarikciler)</td> 
            <td>Islem</td>

        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>
                @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                @Html.DisplayFor(modelItem => item.IlaveStandMalzemesi)
                </td>
                <td>
                @Html.DisplayFor(modelItem => item.MalzemeKodu)
                </td>
                <td>
                @Html.DisplayFor(modelItem => item.MalzemeAdı)
                </td>
                <td>
                @Html.DisplayFor(modelItem => item.ElektrikKw)
                </td>
                <td>
                @Html.DisplayFor(modelItem => item.Fiyat)
                </td>
                <td>
                @Html.DisplayFor(modelItem => item.Ozellik)
                </td>
                <td>
                @Html.DisplayFor(modelItem => item.TedarikciId)
                </td>
                <td>
                @Html.DisplayFor(modelItem => item.Tedarikciler.Tedarikciler)
                </td>
                <td><a asp-controller="IlaveStandMalzemeler" asp-action="Update" asp-route-id="@item.Id" class="btn btn-primary">Guncelle</a>
                <a asp-controller="IlaveStandMalzemeler" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Sil</a></td>
            </tr>
        }

    </tbody>
</table>