@model IEnumerable<FairWorks.Domain.Entities.Personel>


<p>
    <a class="btn btn-success" asp-controller="Personel" asp-action="Create">Yeni</a>
</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoyAd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TcNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Unvan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sehir)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bolge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ulke)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fotograf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notlar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RaporVerdigiKisi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhotoPath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Maas)
            </th>
            <th>Islem</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoyAd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TcNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Unvan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sehir)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bolge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ulke)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fotograf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notlar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RaporVerdigiKisi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhotoPath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Maas)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id"class="btn btn-primary">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id"class="btn btn-primary">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id"class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

